#Fusée{
    text-align: left;
    color: red;
    font-weight: bold;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
}

#cube{
    text-align: justify;
    color: purple;
    font-weight: bold;
}
